

.background-image {
    height: 100vh;
    background-image: url('wp2019613.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    width: 100vw;
    position: absolute;
    top:0;
    z-index: -100;
}

.navbar-toggler:focus {
    outline: none;
}

.palm-icon {
    width: auto;
    height: 8vh;
}

.main-jumbo {
    margin-top: 20vh;
    background-color: rgba(99, 99, 99, 20%);
    padding: 5vh 10vh 5vh 10vh;
}

.title-name {
    font-size: 8vh;
    font-family: "Lobster";
    padding-left: 10vh
}

.title-tag {
    padding: 10px 0 0 20vh;
    font-size: 1.5rem;
}